## Final Project Submission

Please fill out:
* Student name: Masinde Victor Kiprono
* Student pace: Full time
* Instructor name: Maryann Mwikali

# Project Overview

This project deals with a company that wants to venture into another business sos as to expand their portfolio.The company is intrested in avition, specifically an entreprise that purchases planes and use them for commercial and private purposes. They however do not know the risks that are associated with this type of business and that hinders their decision making. My project is aimed at looking into the risks associated with operating this type of business that will give actionable insights for them to make a decision.

## Import The Necessary Libraries to Notebook

For this project, I am going to use data that has already been collected and stored in kaggle. The data is stored in **csv format (Aviation_Data.csv)**. I will import the necessary libararies that will enable me read my data from the csv file. I will also import other libraries that will be of help to me in editing my data and visualizing it. **Pandas** is crucial for creating my dataframes so as to see the structure of my data. **Numpy** will come in handy when I need to fast and precise statistical calculations. I will import **Matplotlib** to help me visualize my findings in form of graphs.

In [1]:
# Your code here - remember to use markdown cells for comments as well!
#Importing the necessary libraries 
#I will use the %matplotlib inline command to help show plots inside my notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Import The Data

I will use the Libraries above to read the contents of the csv file in folder named data to my notebookm in preparation for analysis. Pandas is ideal for doing this since it has built in functions to read into files. I will create a variable **'df'** where I will save my data. After saving the data inside my variable, I will go ahead and check the structure of our data by calling **df.head()** which shows us the preview of our data.It returns the first five rows of our dataframe since we imported our data in form a dataframe.

In [2]:
#Import data using pandas
#save it to a variable 
df = pd.read_csv('data/Aviation_Data.csv', low_memory=False)
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

## Data Understanding

The preview above gives me a slight picture of how my data looks like. I can see what to expect when I start to dog deeper into the data. For me to get full insight on what this data contains, I will have to check using a function in pandas, **.info()**. To know the length and the width of my data, I will use the **.shape** function.This step is crucial for me as it builds base for the next step which is data cleaning. At this point we can be able to see the names of all columns, the type of data the column carries and the number of non null values.

In [3]:
#Check the shape of the data
df.shape

(90348, 31)

In [4]:
#Check the detailed information of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [5]:
#Our dataframe contains continous data
#Lets see the statistical summary of this data
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [6]:
df['Aircraft.Category'].unique()
#fill using mode

array([nan, 'Airplane', 'Helicopter', 'Glider', 'Balloon', 'Gyrocraft',
       'Ultralight', 'Unknown', 'Blimp', 'Powered-Lift', 'Weight-Shift',
       'Powered Parachute', 'Rocket', 'WSFT', 'UNK', 'ULTR'], dtype=object)

## Data Cleaning
 
 When doing our analysis, we deal with data that is only relevant to us and in this case we will major to columns that give us relevant information on risks associated with airplane business. From the data information above, we see that there is missing data in some columns, this is normally denoted by **'NaN'**. We also need to check for duplicates and whitespaces in our data and deal with them accordingly if they exist.

### Create a copy of data.
Before I start to manipulate my data, I want to make a copy of the original data. For my dataframe manipulations, I will be making use of the **inplace=True** parameter instead of creating an new variable everytime. This is effecient for me and my data remains clean and neat. Using the inplace=True manipulates our dataframe directly and does not leave an original copy. I will therefore make a copy just icase I need to refer to my original data at a later stage.

In [7]:
df_copy=df.copy()

#### Checking and dropping duplicates

In [8]:
#Check for duplicates
df.duplicated().sum()

1390

In [9]:
#Remove duplicate rows
df.drop_duplicates(inplace=True)

In [10]:
#Confirm if the rows have been dropped.
#Check for dataframe shape and inspect the number of rows
df.shape

(88958, 31)

#### Drop the unnessary columns
Every column in our dataframe contains important pieces of information but for our analysis we will only focus on those which are relevant to us. Therefore we are going to drop columns that we won`t need for our project.

In [11]:
#Drop irrelevant columns to our survey.
df.drop(columns=['Latitude', 'Longitude', 'Airport.Code', 'FAR.Description','Schedule', 'Accident.Number', 'Event.Date'], inplace=True)

In [12]:
#Confirm that the columns have been dropped.
df.shape

(88958, 24)

#### Check for null values

From the general information above, we could see that there are some columns with missing values. Missing values can hinder our data analysis due to presence of gaps in the data. We therefore need to check for nulls and handle them by either **dropping** them or **filling** them using the **mean, median** or manual filling with **specific values**.

In [13]:
#Check for null values in each column.
df.isnull().sum()

Event.Id                     69
Investigation.Type            0
Location                    121
Country                     295
Airport.Name              36168
Injury.Severity            1069
Aircraft.damage            3263
Aircraft.Category         56671
Registration.Number        1386
Make                        132
Model                       161
Amateur.Built               171
Number.of.Engines          6153
Engine.Type                7146
Purpose.of.flight          6261
Air.carrier               72310
Total.Fatal.Injuries      11470
Total.Serious.Injuries    12579
Total.Minor.Injuries      12002
Total.Uninjured            5981
Weather.Condition          4561
Broad.phase.of.flight     27234
Report.Status              6450
Publication.Date          15299
dtype: int64

### Filling missing data
#### continous data
For continous data, I want to fill the null values with the means in those columns. Here I will use the **.fillna** method

In [14]:
#Replace NaN values with mean of the columns.
df.fillna(df.mean(), inplace=True)
df.head()

,Event.Id,Investigation.Type,Location,Country,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,"MOOSE CREEK, ID",United States,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,...,Personal,NaN,2.0,0.000000,0.000000,0.00000,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,"BRIDGEPORT, CA",United States,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,...,Personal,NaN,4.0,0.000000,0.000000,0.00000,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,"Saltville, VA",United States,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,...,Personal,NaN,3.0,0.279881,0.357061,5.32544,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,"EUREKA, CA",United States,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,...,Personal,NaN,2.0,0.000000,0.000000,0.00000,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,"Canton, OH",United States,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,...,Personal,NaN,1.0,2.000000,0.357061,0.00000,VMC,Approach,Probable Cause,16-04-1980

In [15]:
#Confirm if the NaN values have been replaced by mean.
#Re run the code you used to check for null values above.
df.isnull().sum()

Event.Id                     69
Investigation.Type            0
Location                    121
Country                     295
Airport.Name              36168
Injury.Severity            1069
Aircraft.damage            3263
Aircraft.Category         56671
Registration.Number        1386
Make                        132
Model                       161
Amateur.Built               171
Number.of.Engines             0
Engine.Type                7146
Purpose.of.flight          6261
Air.carrier               72310
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition          4561
Broad.phase.of.flight     27234
Report.Status              6450
Publication.Date          15299
dtype: int64

We have successfully replaced null values with data that we can work with. I chose to replace my null values with mean because mean tends to give me what inputs are common in my data. Using the common elements in my data for place of missing data was the go to choice. As we can see above, the columns that had continous data now have no missing data.

#### Categirocal data
There are columns with large amounts of missing values. This makes our column to be irrelevant for our data anylsis as it will not provide enought data to use in drawing reasonable insights. In some Cases, the columns may have null values, but those that are provided can help us in drawing a specific conclusion. In such a case, we fill the null values to avoid gaps in our data before we proceed.For my case, I will replace the NaN values with a placeholder named **"Unkown"**. This is because if I replaced by the Modes in the column, it might introduce a bias to my data and give me wrong visualiations when I plot figures like Histograms.

In [16]:
#Replace null values in our categorical columns with "Unknown
df.fillna('Unkown', inplace=True)

In [17]:
#Confirm if the NaN values have been replaced by placeholder
#Re run the code you used to check for null values above
df.isnull().sum()

Event.Id                  0
Investigation.Type        0
Location                  0
Country                   0
Airport.Name              0
Injury.Severity           0
Aircraft.damage           0
Aircraft.Category         0
Registration.Number       0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
Purpose.of.flight         0
Air.carrier               0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.phase.of.flight     0
Report.Status             0
Publication.Date          0
dtype: int64

In [ ]:
fig, ax= plt.subplots(figsize=(10,8))
ax.hist(df['Air.carrier'],bins=8);